/* Fonts */

@import url('https://api.fonts.coollabs.io/css2?family=Koulen');
@import url('https://api.fonts.coollabs.io/css2?family=Source+Sans+3:wght@700;400&display=swap');

/* Color Themes */

@import './lib/styles/light-theme.css';
@import './lib/styles/dark-theme.css';

@tailwind base;
@tailwind components;
@tailwind utilities;

/* SHOELACE */

/* purge tailwind classes 
for all sl components !important */
sl-input,
sl-button {
	all: revert;
}

.sl-toast-stack {
	left: 0;
	right: auto;
}

#url {
	@apply w-full
}

sl-input::part(base) {
	@apply font-sans
}

sl-alert::part(base) {
	@apply absolute bottom-0 right-0 z-40 mb-4 mr-4;
}

sl-button::part(base) {
	@apply font-sans cursor-pointer;
}