/* Fonts */

@import url('https://api.fonts.coollabs.io/css2?family=Koulen');
@import url('https://api.fonts.coollabs.io/css2?family=Source+Sans+3:wght@700;400&display=swap');

/* Color Themes */

@import './lib/styles/light-theme.css';
@import './lib/styles/dark-theme.css';

/* TODO: also apply to shadcn themes */

@tailwind base;
@tailwind components;
@tailwind utilities;

/* SHOELACE */

/* purge tailwind classes 
for all sl components !important */
sl-input,
sl-button {
	all: revert;
}

.sl-toast-stack {
	left: 0;
	right: auto;
}

#url {
	@apply w-full
}

sl-input::part(base) {
	@apply font-sans
}

sl-alert::part(base) {
	@apply absolute bottom-0 right-0 z-40 mb-4 mr-4;
}

sl-button::part(base) {
	@apply font-sans font-bold text-white rounded-md cursor-pointer bg-primary-blue;
}

/* SHADCN */

@layer base {
	:root {
		--background: 0 0% 100%;
		--foreground: 0 0% 5%;

		--card: 0 0% 99%;
		--card-foreground: 0 0% 5%;

		--popover: 0 0% 99%;
		--popover-foreground: 0 0% 5%;

		--primary: 216 78% 23%;
		--primary-foreground: 0 0% 98%;

		--secondary: 0 0% 95%;
		--secondary-foreground: 0 0% 5%;

		--muted: 0 0% 95%;
		--muted-foreground: 0 0% 45%;

		--accent: 0 0% 95%;
		--accent-foreground: 0 0% 5%;

		--destructive: 0 84% 60%;
		--destructive-foreground: 0 0% 98%;

		--border: 0 0% 91%;
		--input: 0 0% 84%;
		--ring: 0 0% 76%;
		--radius: 0.5rem;
		--radius-c: 1.563rem;
		/* 25px, for containers */
	}

	.dark {
		--background: 200 7% 8%;
		--foreground: 180 9% 98%;

		--card: 200 6% 10%;
		--card-foreground: 180 9% 98%;

		--popover: 200 6% 10%;
		--popover-foreground: 180 9% 98%;

		--primary: 203 100% 75%;
		--primary-foreground: 240 9% 2%;

		--secondary: 203 8% 19%;
		--secondary-foreground: 180 9% 98%;

		--muted: 202 7% 29%;
		--muted-foreground: 204 8% 49%;

		--accent: 203 4.35% 5.9%;
		--accent-foreground: 180 9% 98%;

		--destructive: 0 84% 60%;
		--destructive-foreground: 0 0% 98%;

		--border: 204 8% 12%;
		--input: 202 9% 18%;
		--ring: 202.5 5.56% 24.78%;
	}
}

/* GLOBAL */

@layer base {
	* {
		@apply border-border;
	}

	body {
		@apply bg-background text-foreground;
	}
}